
.bcss{
    background-color: #76AC16;
    color: #f6f6f6;
    border-color: #76AC16;
    font-size: 13px;
    font-weight: bold;
    padding: 3px;
    
}
.buttondiv{
    text-align: right;
    float: right;
    width: 100%;
    
}
.content{
    width: 95%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
.leftbar {
    width: 25%;
    height: 200px;

    float: left;
}
.rightbar{
    width: 73%;
    margin-left: 25%;
    margin-top: 1%;
    height: 500px;
   
}
.eventname{
    color: #76AC16;
}
.datemeeting{
    padding-top: 24px;
}

.imgpart{
    width: 99%;
    margin: auto;
    padding: 8px;
}
.leftimg{
    width: 50%;
    float: left;
    height: 80%;
}
.rightimg{
    width: 50%;
    margin-left: 50%;
    border-color: black;
    border-width: 2px;
    text-align: center;
    background-color: white;
    height: 164px;
}
.fit-picture{
    width: 90%;
}
.contentpart{
    height: 300px;
    background-color: white;
    box-shadow: #f3f3f3;
    text-align: center;
    margin-left: 10px;
    margin-top: -10px;
}

.espacePersonel{
    background-color: #76AC16;
    color: #f6f6f6;
    text-align: center;
    font-size: 16px;
    padding: 7px;
    font-weight: bold;
}
.usercontain{
    width: 100%;
    margin: auto;
    height: 120px;
    background-color: white;
}
.userleft{
    padding-top: 17px;
    width: 50%;
    float: left;
    text-align: center;
}
.userright{
    padding: 27px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.toppart{
    background-color: white;
    text-align: left;
   
}
.lastpart{
    background-color: white;
    text-align: center;
}
.champ{
    font-size: 18px;
    border-bottom: black;
    border: 10px black;
    padding: 15px;
}
.champ1{
    color: darkblue;
    text-align: left;
    font-size: 12px;
    
}
.champ1 p{
    padding-left: 280px;
    border-bottom: 2px black;
}