<div class="container">
    <div class="buttondiv">
        <button class="bcss" (click)= "ModifyPage()" routerLinkActive="active"  >Modify</button>
        <button class="bcss">Mon AGANDA</button>
        <button class="bcss">MENU</button>
        <select id="lang" name="lang">
            <option value="volvo">Francaise</option>
            <option value="saab">Anglais</option>
          </select>
    </div>
    <div class="content">
        <div class="leftbar">
            <h1 class="eventname">{{title}}</h1>
            <div class="bar">
                <div class="espacePersonel">
                    Mon espace personnel
                </div>
                <div class="toppart">
                    <div class="usercontain"> 
                        <div class="userleft"><img src="../../assets/images/avatar.JPG"/></div>
                        <div class="userright">{{userPer}}</div>
                    </div>
                    <div style="text-align: left; margin-right: 0px; margin-left: auto;padding-left: 20px;">
                        <a style=" color: darkblue; " (click)= "logout()" >Deconnexion</a>
                    </div>
                    
                </div>
                <div class="lastpart">
                    <div class="champ1"><p>tout voir</p></div>
                    <div class="champ">Champs un</div>
                    <div class="champ">Champs deux</div>
                    <div class="champ">Champs trois</div>
                    <div class="champ">Champs quatre</div>
                   
                </div>
            </div>

        </div>
        <div class="rightbar">
            <h3 class="datemeeting">{{createDate}}</h3>
            <div class="imgpart">
                <div class="leftimg">
                    <img class="fit-picture"
                    src="../../assets/images/logoevent.JPG"
                    alt="Logo" />
                </div>
                <div class="rightimg" style="border: 2px black; padding-top: 2px; ">
                    <h4 style="color: red;"> Ne ratez pas!</h4>
                    <p > just un explication du test pour ce parti la !
                        test test db ldf bla bla blabla
                    </p>
                </div>
            </div>

            <div class="contentpart" >
                <div  [innerHTML]="content" >
                  
                </div>
            </div>  
        </div>
    </div>
</div>    
