
<div class="login">
    <h1>Login</h1>
      <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
        <input type="text" name="username" placeholder="Username" required="required"  formControlName="username"/>
          <input type="password" name="password" placeholder="Password" required="required" formControlName = "password"/>
          <button type="submit" value = "submit" class="btn btn-primary btn-block btn-large" style="background-color:#76AC16 ; border-color:#76AC16 ;">Let me in.</button>
      </form>
      <div>{{show}}</div>
  </div>
