<app-top-bar>Event Catalyst</app-top-bar>
<div class="container">
	 <router-outlet>
		<nav>
			<ul>
				<li><a routerLink="page-list.component" routerLinkActive="active" >Page_List</a></li>
				<li><a (click)= "gotoPortal()">My_Portal</a></li>
				<li><a class="buttoncreate" (click)= "goToCreate()">+</a></li>
			</ul>
		</nav>
	</router-outlet> 

</div>