body {
    background-color: #f6f6f6;
}
p {
    font-family: Lato;
  }
.container{
    background-color: #f6f6f6;
} 
nav{
    background-color: #1C1C1C;
    height: 60px;
    
}
ul {
    list-style-type: none;
    font-size: 23px;
    line-height: 20px;
    padding: 15px; 
    overflow-x:hidden;
    white-space:nowrap; 
    height: 1em;
    width: 100%;
}
ul li{
    display:inline;
    padding-right: 10px; 
}
ul li a{
    color: #f6f6f6; 
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
ul li a:hover{
    color: #76AC16;
}
.buttoncreate{
    position:fixed;
    right: 0;
    font-weight: bold;
    font-size: 40px;

}





