table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
td ,th{
    padding: 12px 15px; 
}
th{
    background-color: #76ac16;
}
thead,
tfoot {
    background-color: #333;

}
tr{
    
    color: #1c1c1c;
    text-align: left;
}
.buttonclass{
    background-color: #76ac16;
    color: white;
    font-weight: bold;
 

}
.buttoncreate{
    font-size: 36px;
    margin-left: 900px;
    margin-right: 0;
    background-color: #76ac16;
    color: white;
    font-weight: bold;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 4px;
    border-color: #76ac16;
  
}