<h2></h2>
<div class="container">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th colspan="1">title</th>
                <th>CreatedBy</th>
                <th>Langue</th>
               
                <th>createdDateTime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let page of pages">
                <td>{{page.id}}</td>
                <td>{{page.title}}</td>
                <td>{{page.createdBy}}</td>
                <td>{{page.Langue}}</td>
               
                <td>{{page.createdDateTime}}</td>
                <td>
                    <button  class="buttonclass" (click)= "goToPage(page.id)" routerLinkActive="active" >
                        Go to Page
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
   <div>{{m}}</div>
</div>